.main_li {
  flex-grow: 2;
}

.selected {
  border-bottom: 2px solid #fff;
}

.username {
  margin-top: 5px;
}
.text {
  font-size: 0.7em;
}

.time {
  font-size: 0.6em;
  flex-grow: 0.3;
  margin-top: 10px;
}
