article {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.msg {
  display: flex;
  justify-content: space-between;
}
.msg .tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 15px 0;
  border-color: transparent #ffffff transparent transparent;
}

.msg_inner {
  background-color: #fff;
  width: 100%;
  padding: 15px 10px;
  border-radius: 0 4px 4px 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: black;
}

.right {
  flex-direction: row-reverse;
}

.right .msg {
  flex-direction: row-reverse;
}

.right .msg .tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
}

.right .msg .msg_inner {
  border-radius: 4px 0 4px 4px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: right;
}
