.skeleton {
  background-color: #ddd;
  margin: 10px 0;
}

.skeleton_wrapper {
  max-width: 500px;
}

.title {
  height: 20px;
  width: 60%;
}

.text {
  height: 15px;
  width: 80%;
  margin-top: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.skeleton {
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}
